.outerBlock{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    padding : 2em 0em;
}

.box1{
    width:90%;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    padding:1em;
    border: 1px solid black;
    border-radius: 10px;;
}

.Title{
    margin:1em 0em;
    font-size: 1.2em;
}