.outerBlock{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    padding : 2em 0em;
}

.box1{
    width:90%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding:1em;
    border-radius: 10px;
    background-color: rgba(248, 230, 168, 0.493);
    transition: all .3s ease;
}

.box1 img{
    width:13em;
    height: 13em;
}

.Title{
    margin:1em 0em;
    font-size: 1.2em;
}

.Description{
    padding:0em 2em 2em .5em;
    text-align: center;   
}

.box1:hover{
    box-shadow: .5em .5em 1em rgba(24, 23, 22, 0.493);
    transform: translateY(-10px);
}