.main{
 background: #ffee8c;
background: linear-gradient(186deg, rgba(255, 238, 140, 1) 0%, rgba(255, 215, 189, 0.54) 29%, rgba(226, 232, 156, 0.52) 60%, rgba(255, 255, 224, 0.88) 100%);

}
.history{
    background: #fcf9a6;
background: linear-gradient(185deg, rgba(252, 249, 166, 0.59) 100%, rgba(253, 187, 45, 0.73) 100%);
}

/* light yellow , light blue and green shade  */
/* background: #ffc9c9;
background: linear-gradient(186deg, rgba(255, 201, 201, 1) 0%, rgba(255, 243, 176, 0.54) 40%, rgba(156, 216, 232, 0.52) 64%, rgba(215, 222, 140, 0.88) 100%); */

