.heading {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem
}

.heading h1 {
  display: inline-block;
 
  /* padding: 6px 14px; */
  /* font-size: large; */
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.heading h1::after{
     content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: gold; /* gold tone */
  margin: 15px auto 10px;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
}