.main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.card{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 40%;
    border-radius: 1rem;
    padding: 1rem;
      box-shadow: 0 4px 12px rgba(200, 155, 60, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;   
}

.image img{
    width: 100% ;
    height: 100%;
    border-radius: 1rem;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(200, 155, 60, 0.5);
}

.des{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    gap:1rem
}

.des h1{
    font-size: x-large;
}

.des p{
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  
}
/* ========================= */
/* Tablet */
/* ========================= */
@media (max-width: 1024px) {
  .card {
    width: 45%;
  }
}

/* ========================= */
/* Mobile */
/* ========================= */
@media (max-width: 768px) {
  .main {
    width: 95%;
  }
  .des p{
    text-align: start;
  }

  .card {
    width: 100%;   /* 1 card per row */
  }
}