/* ============================= */
/* Mobile First (Default) */
/* ============================= */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
   border-radius: 12px;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 80%;
  margin: 0 auto;
}

/* Image */
.image img {
  height: 50px;
  object-fit: contain;
}

/* Each detail row */
.main > div {
  text-align: center;
  line-height: 1.6;
}

.main strong {
  display: block;
  font-weight: 600;
}

.main span {
  display: block;
  color: #555;
  font-size: 14px;
}

/* ============================= */
/* Tablet (≥ 768px) */
/* ============================= */

@media (min-width: 768px) {
  .main {
    width: 80%;
  }

  .image img {
    height: 70px;
  }

  .main span {
     display: inline;
    font-size: 16px;
  }
   .main strong{
    display: inline;
  }
  
}

/* ============================= */
/* Desktop (≥ 1024px) */
/* ============================= */

@media (min-width: 1024px) {
  .main {
    width: 60%;
    background: #fafafa;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  }

  .image img {
    height: 80px;
  }

  /* Make rows aligned better */
  .main > div {
    text-align: center;
  }
 
}