.outerContainer{
    width:100%;
    background-color: #FAF7F2;
}


.Title{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding :1em 0em;
    background: linear-gradient(to right,#c89b3c, #f5d27a );
    color:#584002
}


.outerContainer{
    width: 100%;
}

.welcomeContainer{
    display: flex;
    width:100%;
    padding :2em 0em;
    justify-content: space-around;
}

.box1{
    width: 25%;
    padding:1em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:45%;
}

.WelTitle{
    padding:.5em 1em;
    text-align: center;
}

.para{
    padding: 0em 1em;
    text-align: center;
    font-size: 1.1em;
}

.para p {
    margin:.5em 0em;
}
.box3{
    width:25%;
     padding:1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Image{
    height:70%;
    width:90%;
    border-radius: 10px;
}

.Image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


