.contain{
  display: flex;
  justify-content: center;
  
  position: relative;
  padding: 1rem 0;
  margin: 1rem 0;
}

.main{
  width: 80%;  
  /* border: 2px solid lightblue; */
  border-radius: 1rem;
  margin-top: .7rem;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.slider_container{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  gap: 1rem;
  width: 100%;
  height: 400px; 
  background-color: white;
  min-height: 300px;
  overflow: hidden;
  border-radius:1rem ;
}

.main_slid{
  border-radius: 20px;
  margin: 0 20px;
  width: 800px;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem ;
  padding: 20px 0;
  box-shadow: 0 0 5px gray;
}



.slid_img{
  width: 50%;
  margin-left: 10px;
  border-radius: 20px;
}

.slid_content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 10px;
  padding: 0 10px;
}

.slid_content h4{
  font-family: "Poppins", sans-serif;
  font-size: large;
  padding:0em 1em;
  text-align: justify;
}

.slid_content .parent_name{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.slid_content p{
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 200;
}

.parent_name{
  padding:1em;
  width:100%;
}

.parent_name p{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: end;
}

.Title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.45em;
    padding: 1.2em .5em;
}

.Divider{
    width: 10%;
    height: 3px;
    background: linear-gradient(to right, #c89b3c, #f5d27a);
    margin: 15px auto 0px  auto;
    border-radius: 2px;
}

.marquee {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}


/* ================= BELOW 320px (UNCHANGED) ================= */



  
/* ================= 321px – 374px (UNCHANGED) ================= */

@media screen and (min-width:320px) and (max-width:374px){
  /* keep your previous styling */
  .slider_container{
    width: 100%;
    height: auto;   /* remove fixed height */
  }

  .main_slid{
    flex-direction: column;
    align-items: center;
    width: 90%;         /* prevent overflow */
    max-width: 400px;
    margin: 2rem auto;  /* center properly */
    padding: 1rem;
    height: auto;
    box-shadow: 0 0 0;
  }

  .slid_img{
    width: 100%;
    height: 150px;
  }

  .slid_content h4{
    font-size: x-small;
    
    /* border: 1px solid; */
  }

  .slid_content{
    width: 280px;
    padding: 1rem;
  }

  .slid_content p{
    font-size: xx-small;
  }

  .marquee{
    display: block;
    background-color: white;
    padding-bottom: 0px;
  }
}




/* ================= FIXED AREA: 375px – 768px ================= */

@media screen and (min-width:375px) and (max-width:768px){

  .slider_container{
    width: 100%;
    height: auto;   /* remove fixed height */
  }

  .main_slid{
    flex-direction: column;
    align-items: center;
    width: 90%;         /* prevent overflow */
    max-width: 400px;
    margin: 2rem auto;  /* center properly */
    padding: 1rem;
    height: auto;
    box-shadow: 0 0 0;
  }

  .slid_img{
    width: 100%;
    height: 150px;
  }

  .slid_content h4{
    font-size: small;
  }

  .slid_content p{
    font-size: small;
  }

  .marquee{
    display: block;
    background-color: white;
    padding-bottom: 0px;
  }
}


/* ================= 769px – 1024px (KEPT ORIGINAL STYLE) ================= */

@media screen and (min-width: 769px) and (max-width: 1024px){
  .heading{
    font-size: 1.1rem;
  }
  .slider_container{
    height: 60vh;  /* your original good styling */
  }
  .slide_head button{
    margin: 0;
  }
  .graps{
    top: 0;
    right:1%;
  }
  .graps img{
    width: 100px;
    height: 100px;
  }
}

