.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

/* ================= LEFT SECTION ================= */

.leftSection {
  flex: 1.5;
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.imageWrapper {
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

.mainImage {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.description {
    font-size: 1rem;
    padding:1em;
    text-align: center;
    font-style: italic;
    background-color: #f1cd74;
    border-radius: 0px 0px 10px 10px;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* ================= RIGHT SECTION ================= */

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideImage {
  width: 100%;
  height: 32rem;
  object-fit: cover;
  border-radius: 8px;
}

.buttonContainer {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.callBtn {
  padding: 0.6rem 1.5rem;
  border: none;
  background: green;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.appointBtn {
  padding: 0.6rem 1.5rem;
  border: none;
  background: #f1cd74;
  border-radius: 6px;
  cursor: pointer;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }

  .leftSection {
    justify-content: center;
  }

  .buttonContainer {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .arrow {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .buttonContainer {
    flex-direction: column;
    width: 100%;
  }

  .callBtn,
  .appointBtn {
    width: 100%;
  }
}