.main {
  padding: 60px 20px;
  background: #f2f2f2;
}

/* ===== Heading Section ===== */
.heading {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.heading h1 {
  display: inline-block;
 
  padding: 6px 14px;
  /* font-size: large; */
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.heading h1::after{
     content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: gold; /* gold tone */
  margin: 15px auto 10px;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
}
/* ===== Content Section ===== */
.abc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Image */
.imageWrapper img {
  width: 250px;
  height: auto;
  margin-bottom: 25px;
  border-radius: 1rem;
}

/* Paragraph */
.content {
  max-width: 500px;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

@media (max-width: 768px) {
  .imageWrapper img {
    width: 200px;
  }

  .content {
    font-size: 13px;
    padding: 0 10px;
  }
}