.HomeAbout {
    width:100%;
}

.Title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.45em;
    padding: 1.2em .5em;
}

.Divider{
    width: 15%;
    height: 3px;
    background: linear-gradient(to right, #c89b3c, #f5d27a);
    margin: 15px auto 0px  auto;
    border-radius: 2px;
}

.CardContent{
    display: flex;
    justify-content: space-around;
    padding :1em 0em;
}

.poster{
    width: 32%;
    border-radius: 10px;
}

.poster img{
    width:100%;
    height:35em;
    border-radius: 10px 10px 0px 0px;
}



.buttonContiner{
    width: 100%;
    display: flex;
    justify-content: center;
    padding : 1em;
    background-color: #033A8B;
    border-radius: 0px 0px 10px 10px;
    gap:1em;
}

.Call{
    padding: .5em 1.5em;
    font-size: .9em;
    border:none;
    border-radius: 5px;
    background-color: #008000;
    color:aliceblue;
    transition: all .3s ease;
}



.Appoint{
    padding: .5em 1.3em;
    font-size: .9em;
    border:none;
    border-radius: 5px;
    background-color:#F1CD74 ;
    transition: all .3s ease;
}

.Call:hover{
    transform: translateY(-6px);
    box-shadow: .2em .2em 1em #1d1c1b;
}

.Appoint:hover{
    transform: translateY(-6px);
    box-shadow: .2em .2em 1em #1d1c1b;
}

.CardContiner{
    display: flex;
    gap:1em;
    width:60%;
    flex-wrap: wrap;
    /* border: #000 1px solid; */
    padding :1em 0em;
}

.Card {
    height: 16.5em;
    width:30%;
    color : rgb(155, 1, 1);
    border-radius: 10px;
    transition: all .3s ease;
}

.Card:hover{
    box-shadow: .5em .5em 1em #c89b3c;
    cursor:pointer;
    transform: translateY(-10px);
}

.imageContiner{
    width:100%;
    height:13em;
}

.imageContiner img{
    width:100%;
    height:100%;
    border-radius: 10px 10px 0px 0px;
}

.TextContiner{
    width:100%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 0px 0px 10px 10px;
    background-color: #f1cd74;
    color:#5a0101;
}




/* ================== RESPONSIVE ================== */

@media (max-width: 1024px) {

    .CardContent{
        flex-direction: column;
        align-items: center;
    }

    .poster{
        width: 90%;
        margin-bottom: 2em;
    }

    .CardContiner{
        width: 90%;
        justify-content: center;
    }

    .Card{
        width: 45%;
    }
}

@media (max-width: 768px) {

    .Card{
        width: 100%;
    }

    .poster img{
        height: auto;
    }

    .imageContiner{
        height: auto;
    }
}