.main{
 background: #ffee8c;
background: linear-gradient(203deg, rgba(255, 238, 140, 1) 0%, rgba(233, 240, 96, 0.54) 29%, rgba(201, 201, 201, 0.52) 60%, rgba(255, 179, 179, 0.88) 100%);
padding:0 0 1rem 0;
}