.navbar {
  width: 100%;
  border-bottom: 1px solid #ccc;
background: linear-gradient(90deg, rgba(253, 29, 29, 0.69) 0%, rgba(252, 176, 69, 0.64) 100%);

}


/* ================= TOP BAR ================= */

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

/* Logo */
.logoSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  width:18%;
}

.logo {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Appointment */
.appointmentBtn {
  padding: 0.5rem 1.5rem;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

/* Right Section */
.rightSection {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contactText{
    background-color: #FFFFFF;
    padding:.5em 1em;
    border-radius: 10px; 
    display: flex;
    transition: all 0.3s ease;

}

.contactText p {
  margin: 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  color:#000;
  transition: all 0.3s ease;
}

.contactText:hover{
    /* background-color: #03f036;
     */
   
    box-shadow: .2em .2em .2em #03f036;
    
    cursor:pointer;
}

.contactText:hover p{
    font-size: 1.01em;
    color: #03f036;
}

.contactText img{
    width: 20px;
    margin-right: 0.5rem;
}

.languageSelect {
  padding: 0.3rem 0.5rem;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* ================= MENU BAR ================= */

.menuBar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.8rem 0;
  background: #033a8b;
}

.menuBar a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.menuBar a:hover {
  background: #c89b3c;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {

  .rightSection {
    display: none;
  }

  .appointmentBtn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menuBar {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menuBar.active {
    display: flex;
  }
}

@media (max-width: 600px) {
  .topBar {
    padding: 1rem;
  }

  .logoSection h3 {
    font-size: 1rem;
  }

  .logoSection p {
    font-size: 0.7rem;
  }
}