.outerBlock {
    width:100%;
    padding:2.5em 0em 0em 1em;
    display: flex;
    border-top: 2px solid rgba(243, 147, 21, 0.925);
    background-color: #FAF7F2;
}

.box1{
    width:30%;
    padding:0em 1em;
    display: flex;
    flex-direction: column;
}

.Title{
    padding:0em 1em;
}

.para{
    padding:.5em 1em 1em 1em;
}

.para p {
    margin:1em 0em;
}
.box2{
    width:40%;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.form {
    margin:1em 0em;
    display: flex;
    flex-direction: column;
    width:60%;
}

.field{
    margin:0.5em 0em;
    padding:0.5em;
    border-radius: 5px;
    border:1px solid black;
}

.submit{
  width:100%;
  margin: .5em 0em;
}

.button{
    padding:.5em 1em;
    border-radius: .5em;
    border:  none;
    background-color: #F1CD74;
    font-size: 1em;
    color: black;
}

.box3{
    width:30%;
    padding:0em 1em;
    display: flex;
    flex-direction: column;
}

.Title2{
    padding: 0em 1em;
    margin:.5em 0em;
    font-size: .8em;
}

.option{
    padding:0em 1em;
}

.option a{
    text-decoration: none;
    color: black;
    margin:0.5em 0em;
}

.option p{
    margin:1em 0em;
}