.outerBlock {
    width:100%;
    padding:1em 0em;
    display: flex;

}

.box1{
    width:30%;
    padding:0em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title{
    padding:0em 1em;
}

.para{
    padding:.5em 1em 1em 1em;
}

.para p {
    margin:1em 0em;
}
.box2{
    width:40%;
}

.box3{
    width:30%;
}