.outerBlock {
    width:100%;
    padding:2.5em 0em 0em 1em;
    display: flex;
    border-top: 2px solid rgba(243, 147, 21, 0.925);
    background-color: #FAF7F2;
}

.box1{
    width:30%;
    padding:0em 1em;
    display: flex;
    flex-direction: column;
}

.Title{
    padding:0em 1em;
}

.para{
    padding:.5em 1em 1em 1em;
}

.para p {
    margin:1em 0em;
}
.box2{
    width:40%;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.form {
    margin:1em 0em;
    display: flex;
    flex-direction: column;
    width:60%;
    padding:0em 1em;
}

.field{
    margin:0.5em 0em;
    padding:0.5em;
    border-radius: 5px;
    border:1px solid black;
}

.submit{
  width:100%;
  margin: .5em 0em;
}

.button{
    padding:.5em 1em;
    border-radius: .5em;
    border:  none;
    background-color: #F1CD74;
    font-size: 1em;
    color: black;
}

.box3{
    width:30%;
    padding:0em 1em;
    display: flex;
    flex-direction: column;
}

.Title2{
    padding: 0em 1em;
    margin:.5em 0em;
    font-size: .8em;
}

.option{
    padding:0em 1em;
}

.option a{
    text-decoration: none;
    color: black;
    margin:0.5em 0em;
}

.option p{
    margin:1em 0em;
}


/* ================= RESPONSIVE ================= */

/* -------- Large Screens (1440px+) -------- */
@media (min-width: 1440px) {
    .outerBlock {
        width: 100%;
        margin: 0 ;
        padding-left: 0;
    }
}


/* -------- Tablet (769px – 1024px) -------- */
@media (max-width: 1024px) {

    .outerBlock {
        flex-direction: column;
        padding: 2em 0em 0em 1em;
    }

    .box1,
    .box2,
    .box3 {
        width: 100%;
        margin-bottom: 2em;
    }

    
    .Title{
        display: flex;
        justify-content: center;
    }

    .para p{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .Title2{
        display: flex;
        justify-content: center;
    }

    .option p{
        display: flex;
        justify-content: center;
    }
    .form {
        width: 80%;
    }
}


/* -------- Mobile (400px – 768px) -------- */
@media (max-width: 768px) {

    .Title h2 {
        font-size: 1.2rem;
    }

    .Title2 h2 {
        font-size: 1rem;
    }

    .para p {
        font-size: 0.95rem;
    }

    .form {
        width: 100%;
        padding:0em .5em;
    }

    .field {
        font-size: 0.9rem;
    }

    .button {
        width: 100%;
        font-size: 0.95rem;
    }

    .option p {
        font-size: 0.95rem;
    }
}


/* -------- Small Mobile (Below 400px) -------- */
@media (max-width: 399px) {

    .Title h2 {
        font-size: 1.05rem;
    }

    .Title2 h2 {
        font-size: 0.9rem;
    }

    .para p {
        font-size: 0.85rem;
    }

    .field {
        font-size: 0.85rem;
        padding: 0.4em;
    }

    .button {
        font-size: 0.9rem;
    }

}