.seperationContainer{
    display:flex;
    width:100%;
    /* border-Top:1px solid black; */
    padding:1.5em 0em;
   background: linear-gradient(186deg, rgba(240, 247, 193, 1) 1%, rgba(240, 219, 156, 1) 34%, rgba(255, 207, 15, 0.91) 100%);
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
}

.box2{
    width:30%;
    padding:1.5em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qoute{
    font-size: 1.6em;
}

.written{
    padding:.5em 0em;
    font-size: 1.4em;
    text-align: end;
}

.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;

}


.Image{
    width: 60%;
    height: 80%;
    border-radius: 10px;
}

.Image > img{
    width:100%;
    height:100%;
    border-radius: 10px;
    margin: 0%;
}
