.continer{
    width:100%;
    display: flex;
    text-align: center;
    background-color: brown;
}

.Title{
    padding: .2em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    color:azure;
    text-align: center;
    width:100%; 
}